.cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  gap: 1rem;
}

.cardItem:hover {
  outline: 1px solid hsla(0, 0%, 0%, 0.377);
}

.image {
  height: 300px;
  object-fit: contain;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.title {
  font-size: 1.1rem;
}
