.shoppingPage {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.shoppingGrid {
  background-color: var(--background-main);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5rem;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}
